/** 自定义 Element Plus 样式 */
// 表格
.el-table {
  // 表头
  th.el-table__cell {
    background-color: var(--el-fill-color-light) !important;
  }
  // 行元素
  tr {
    background-color: var(--el-bg-color-overlay) !important;
  }
}

.el-dialog {
  transition: 0.1s;
  padding: 0;

  &.fullscreen {
    left: 0 !important;
    top: 0 !important;
  }

  .el-dialog__header {
    padding: 0;
    margin-right: 0;
  }

  .el-dialog__body {
    padding: 12px;
  }

  .el-dialog__footer {
    padding: 12px;
    padding-top: 0;
  }
}

.el-tabs {
  position: relative;

  .el-tabs__content {
    position: unset;
  }
}

.el-transfer {
  .el-transfer-panel {
    height: 100%;
    width: calc(50% - 81px);

    .el-transfer-panel__body {
      height: calc(100% - 40px);
    }
  }
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: var(--el-color-primary-light-9);
  color: var(--el-menu-active-color);
  position: relative;

  &::before {
    content: '';
    background: var(--el-color-primary-light-5);
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  i {
    color: var(--el-menu-active-color);
  }
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}
